###### Exercise 2: Create markdown cell with title of the notebook

   # Data Science Tools and Ecosystem

###### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

##### Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science
- List Popular Data Science Libraries
- Popular Data Science Tools
- Arithmetic Expressions in Python

##### Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

##### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras

##### Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------ |
| JupyterLab |
| Visual Studio |
| Google Colab |

##### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Below are a few examples of evaluating arithmetic expressions in Python

##### Exercise 8 - Create a code cell to multiply and add numbers

In [6]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

##### Exercise 9 - Create a code cell to convert minutes to hours

In [7]:
# This will convert 200 minutes to hours by diving by 60

minutes=200
min_to_hr = minutes/60
print(min_to_hr)

3.3333333333333335

##### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Meyy arasan